<%= render 'books/sidebar', books: @books %>
    <div class = "col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class = "table table-hover table-inverse">
        <thead>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan = "3"></th>
        </thead>
        <body></body>
      </table>
    </div>
  </div>
</div>